.about {
  padding: 3rem 2rem;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(152, 181, 255, 0.413));
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
