.services {
  padding: 60px 20px;
  background-image: linear-gradient(to bottom, rgba(152, 181, 255, 0.413), rgba(255, 255, 255, 0.8));
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #111827;
  font-weight: bold;
}
.wordService{
  color: #0374ee;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.service-card {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 15px hsla(0, 0%, 47%, 0.572);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid hsl(211, 100%, 50%);
}

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.service-icon {
  font-size: 3rem;
  color: hsl(211, 100%, 50%);
  margin-bottom: 10px;
}

.service-card h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #222;
  font-weight: 600;
}

.service-card p {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.6;
  text-align: justify;
}

.about-divider {
  border: none;
  height: 1px;
  background-color: hsl(211, 100%, 50%); /* o el color que quieras */
  margin: 10px 50px;
  width: 60%; /* puedes ajustar el ancho */
}



